@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend', sans-serif;
  
}
/* styles/globals.css */

/* Define Lexend font faces */
@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Regular.ttf') format('ttf'),
       url('/fonts/Lexend-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Bold.ttf') format('ttf'),
       url('/fonts/Lexend-Bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}


